<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Breed List</nz-page-header-title>
  <nz-page-header-extra>
    <!-- <button nz-button>Export</button> -->
    <button
      nz-button
      nzType="primary"
      [routerLink]="[routePathsEnum.createBreed]"
      routerLinkActive="router-link-active"
    >
      Create new
    </button>
  </nz-page-header-extra>
</nz-page-header>
<nz-table
  nzShowPagination
  [nzFrontPagination]="false"
  [nzData]="response.data"
  [nzLoading]="loading"
  [nzTotal]="response.total"
  [nzPageSize]="10"
  [nzPageIndex]="response.page"
  (nzPageIndexChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>IsActive</th>
      <th style="text-align: right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of response.data">
      <td>{{ data.name }}</td>
      <td>{{ data.isActive }}</td>
      <td align="right">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <i
            nz-icon
            nzType="more"
            style="font-size: 30px; font-weight: 500; color: #272727"
            nzTheme="outline"
          ></i>
        </a>

        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li
              nz-menu-item
              routerLink="{{ routePathsEnum.updateBreed + data.id }}"
            >
              Update
            </li>
            <li nz-menu-item nzDanger (click)="onDelete(data.id)">Delete</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>
