<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>User Details</nz-page-header-title>
  <nz-page-header-extra>
    <!-- <button nz-button>Export</button> -->
    <!-- <button nz-button nzType="primary">Extend Permission</button> -->
  </nz-page-header-extra>
</nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="16">
    <nz-descriptions nzTitle="User Info" nzLayout="vertical">
      <nz-descriptions-item nzTitle="Name">
        {{ user.name }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phone Number">
        {{ user.phoneNumber }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Email">
        {{ user.email }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="isActive">
        {{ user.isActive }}
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
  <!-- <div nz-col nzSpan="8">
    <nz-list nzSize="small">
      <nz-list-header>
        <div class="ant-descriptions-title ng-star-inserted">Permissions</div>
      </nz-list-header>
      <nz-list-item *ngFor="let item of permissions">{{ item }}</nz-list-item>
      <nz-list-footer>Total {{ permissions.length }}</nz-list-footer>
    </nz-list>
  </div> -->
</div>
