<div>
  <nz-page-header nzBackIcon [nzGhost]="false">
    <nz-page-header-title>Create Service</nz-page-header-title>
  </nz-page-header>
</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Invalid name">
      <input
        type="text"
        nz-input
        formControlName="name"
        placeholder="Enter  name"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired nzFor="price">price</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="Invalid price">
      <input
        type="number"
        nz-input
        formControlName="price"
        placeholder="Enter  price"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" nzRequired>Time</nz-form-label>
    <nz-form-control [nzSpan]="8">
      <nz-date-picker formControlName="time"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="8" [nzOffset]="4">
      <button nz-button nzType="primary">Submit</button>
    </nz-form-control>
  </nz-form-item>
</form>
